<!DOCTYPE html>
<html lang="es">

<head>

  <%- include('fragments/head') %>
  <title>Forecasts</title>
  
</head>

<body>

  <header><%- include('fragments/nav') %></header>

  <div id="weatherForecastsApp"></div>  

  <script src="dist/weatherForecasts.min.js"></script>
  
  <%- include('fragments/footer') %>

</body>

</html>