<!DOCTYPE html>
<html lang="es">

<head>

  <%- include('fragments/head') %>

  <title>Home</title>
  
</head>

<body class="vh-100">

  <header><%- include('fragments/nav') %></header>

  <div id="homeApp"></div>

  <script src="dist/home.min.js"></script>

  <%- include('fragments/footer') %>

</body>

</html>