<!DOCTYPE html>
<html lang="es">

<footer>
    
    <div class="row justify-content-around">

        <div class="col text-center">
            <span class="text-white fs-5">
                <i class="fa-solid fa-copyright fs-5 text-white"></i>
                &nbsp;<em>All rights reserved to the owner</em>
            </span>
        </div>

        <div class="col text-center">
            <span class="text-white fs-5">
                <i class="fa-solid fa-phone fs-5 text-white"></i> 
                &nbsp;<em>692&nbsp;20&nbsp;25&nbsp;58</em>
            </span>
        </div>

        <div class="col text-center">
            <span class="text-white fs-5">
                <i class="fa-solid fa-envelope fs-5 text-white"></i> 
                &nbsp;<em>omolanobuitrago@gmail.com</em>
            </span>
        </div>
    </div>

    

 

</footer>



</html>