<!DOCTYPE html>
<html lang="es">

<nav class="navbar navbar-expand-md bg-custom-color">
	<div class="container-fluid">
		<a class="navbar-brand m-0 px-2" href="/">
			<i class="fa-solid fs-4 fa-cloud nav-home-icon"></i>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
			aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div data-bs-theme="dark" class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Nav Menu</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body py-0 px-3">
				<ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

					<!-- Usuario logueado-->
					<li class="nav-item">
						<a class="nav-link" style="font-size: 22px!important;" aria-current="page" href="/forecasts"><em>Make a Forecast</em> </a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</nav>

</html>